.row
  .col-md-12
    %h1
      New market_food_inventory
      = link_to market_food_inventories_path, class: "btn btn-default btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Market Food Inventories index" do
        %span.glyphicon.glyphicon-list
.row
  .col-md-12
    = render 'form'
