.row
  .col-md-12
    .page-header
      %h1
        Market Food Inventory Detail
        = link_to edit_market_food_inventory_path(@market_food_inventory), class: "btn btn-primary btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Edit market_food_inventory" do
          %span.glyphicon.glyphicon-edit
        = link_to market_food_inventories_path, class: "btn btn-default btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Market Food Inventories index" do
          %span.glyphicon.glyphicon-list

    %table.table.table-striped.table-condensed
      %tr
        %th Item Name
        %td= @market_food_inventory.item_name
      %tr
        %th Quantity:
        %td= @market_food_inventory.quantity
