.row
  .col-md-12
    %h1
      Editing Menu Item
      = link_to @product, class: "btn btn-warning btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Discard changes" do
        %span.glyphicon.glyphicon-refresh
      = link_to products_path, class: "btn btn-default btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Products index" do
        %span.glyphicon.glyphicon-list
.row
  .col-md-12
    = render 'form'
