.row
  .col-md-12
    %h1
      New product
      = link_to products_path, class: "btn btn-default btn-xs", "data-toggle" => "tooltip", "data-placement" => "top", title: "Products index" do
        %span.glyphicon.glyphicon-list
.row
  .col-md-12
    = render 'form'
